
.BalanceButtons select{
  background-color: white;
  border:1px solid black;
}
.balance-table {
  flex-grow: 1;
  width: 43vw;
  border-collapse: collapse; /* Allows rounded corners */
  overflow: scroll; /* Ensures rounded corners work */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a soft effect */
  background: #f9f9f9; /* White background for the table */
  padding: 15px;
  margin: 0; /* Removes default margin */
  @media (max-width: 800px) {
    width: 100%;
    }
  @media (max-width: 600px) {
    overflow-x: scroll;
    width: 100%;
    }
}

/* Header Styling */
.balance-table thead {
  background-color: #a0e7e5;/* Soft green for the header background */
  color: #000000; /* Black text for header */
  font-family:  'Times New Roman', Times, serif; /* Clean font */
}
.balance-table thead tr th{

  font-weight: bold;
}
.balance-table th:first-child, .balance-table td:first-child {
  text-align: left;

}

.balance-table th:not(:first-child), .balance-table td:not(:first-child) {
  text-align: right;
}
.balance-table th, .balance-table td {
  padding: 12px 15px; /* Padding for a softer touch */
  text-align: left;
  font-family: 'Times New Roman', Times, serif; /* Consistent font */
}
.balance-table td {
  padding: 10px;
  text-align: left;
  font-family: 'Oswald', sans-serif; /* Use the selected font */
  border-bottom: 1px solid #ddd; /* Very light grey dividers */
}



.balance-table tbody tr.MorningData:hover {
  background-color: #e0e0e0; /* Light grey on hover for rows */
  color: #000000; /* Black text on hover */
}

