.Entries{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
}
.EntriesTable{
    display: flex;
    justify-content: space-around;
    flex:1fr;
    gap: 10px;
    padding: 10px;
    height: fit-content;
}
.EntriesTable div{
    width: 100%;
}
.Table1{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.Table1c {
    display: grid;
  }
  
  .Header {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr; 
 /* Adjust gap between header elements */
  }
  
  .Header p {
    margin: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .formTable {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr; /* Adjust gap between form elements */
  }
  
  .formTable input {
    width: 100%; /* Make input fields responsive */
    padding: 5px;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 600px) {
    .Header {
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;  /* Adjust header columns for smaller screens */
    }
    
    .formTable {
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr; /* Adjust form columns for smaller screens */
    }
  
    .formTable input {
      width: 100%; /* Adjust input width for smaller screens */
    }
  }
  
@media (max-width: 768px) {
    .Table1{
        grid-template-columns: 1fr;
     } 
}
.handleEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.handleEntry a {
border: 1px solid;
padding: 10px 5px;
color: white;
background-color: rgb(105, 105, 250);
}

.DefaultEntry input,
.DefaultEntry select,
.DefaultEntry button{ 
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  min-width: 200px;
  color: black;
  background-color: #f9f9f9;
}
.BalanceButtons button,
.BalanceButtons select{
  margin: 2px;
  padding: 10px;
  background-color: rgb(169, 171, 248);
  border-radius: 5px;
  border: none;
}
.userlist1{
display: flex;
}
