.hero-section {
  display: flex;
  height: 90vh;

}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #cee9f5;
  text-align: left;
}

.text-content h1 {
  font-size: 8rem;
  color: #6c2eb9;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  color: #333;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cee9f5;
}

.image-hero {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
.homepage-body {
  padding: 20px;
}

.feature-section {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of items */
  gap: 20px; /* Space between the cards */
  justify-content: space-between; /* Distributes space between items */
}

.feature-box {
  flex: 1 1 calc(33.333% - 20px); /* Three columns with space between */
  box-sizing: border-box; /* Includes padding and border in the width calculation */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adds hover effects */
}

.feature-box:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.feature-image {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  object-fit: contain;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-box p {
  color: #333;
  font-size: 16px;
  margin: 10px 0 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .feature-box {
    flex: 1 1 calc(50% - 20px); /* Two columns */
  }
}

@media (max-width: 480px) {
  .feature-box {
    flex: 1 1 100%; /* Single column */
  }
}
