.sidebar{
display: flex;
align-items: center;
width: 100%;
white-space: nowrap;
font-size: 1rem;
padding: 10px;
gap: 10px;
height: 8vh;
justify-content: space-evenly;
}
.sidebar-link {
  display: block;
  padding: 10px;
  font-family: italic;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;

}

.sidebar-link.active {

  border-bottom: 1px solid black;
  color: black;
  font-weight: bold;
}
.sidebar-link:hover{
  border-bottom: 1px solid black;
  color: black;
  font-weight: bold;
}
.bottom-nav{
  display: none;
}
@media (max-width: 800px) {

.sidebar{
 display: none;
}

.bottom-nav{
  background-color: #cee1f3;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding-bottom:10px ;
  padding-top: 4px;
  justify-content: space-evenly;
}
.bottom-nav-link{
  color: black;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 24
}

}

.material-symbols-rounded.active {
  color: #ff6347; /* Active color, e.g., tomato */
  transform: scale(1.2); /* Pop-up effect */
}

