@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
/* Style input field */
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
input::-ms-clear {
    display: none;
}

/* Style input field to remove background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #333; /* Set text color */
    -webkit-box-shadow: 0 0 0px 1000px none; /* Set background color */
}

html{
  background: #cee1f3;
}
.header {
  display: grid;
  grid-template-columns: 4rem 1fr 1.5fr 1fr 4rem;
  width: 100%;
  z-index: 4;
  margin: 0;
  padding: 0;
  position: sticky;
  background-color: #cee9f5;
  /*background: linear-gradient(90deg, #8a2be2, #5c00d2);*/
  color: white;
  align-content: center;
}
.logo {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
} 
.logo-text {
  font-family: 'Playfair Display', serif; /* Example font for logo */
  font-weight: 100; /* You can adjust the font weight as needed */
  color: linear-gradient(90deg, #8a2be2, #5c00d2);
}
.logo-link{
  text-decoration: none;
}
.header-link {
  display: flex;
}

.header-icon {
  grid-column: 4/5;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 5px;
}
.addUser{
  color:black;
  border-radius: 8px;
  padding: 4px;
}
@media (max-width: 768px) {
  .header {
    display: grid;
    height: 7rem;
    grid-template-columns: 2rem 1fr 1fr 2rem;
  }
  
  .logo {
    grid-column: 2/3; /* Position the logo from column 2 to column 3 */
  }
  .header-link {
    display: flex;
  }
}

.container {
    max-width: 100vw; /* Prevents the screen from exceeding the viewport width */
    min-height:100vh;

  
}


.full {

  font-family: 'Truculenta', sans-serif;
  background: #cee9f5;
  flex-grow: 1;
}
.main{
  max-width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #cee9f5;
}





/*entries*/
.EntriesTable{
  border: 1px solid rgb(192, 186, 186);
  box-shadow: 2px 2px 3px rgb(148, 145, 145);
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.selectDate{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.deleteIcon{
  height:10px;
}
.morningEntries {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid;
  border-collapse: collapse;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 8px rgb(126, 123, 123);
}

.morningEntries .MorningData {
  background-color: #cee9f5; /* Light blue */
}
.MorningHeading {
  padding: 5px;
  background-color:#a0e7e5;
  color: black;
}
.MorningData td{
      text-align: center;
      vertical-align: middle;
}
.MorningData:hover {
  background-color: aquamarine;
  box-shadow: 5px 5px 8px rgb(126, 123, 123);
}
.MorningHeading:hover {
  box-shadow: 5px 5px 8px rgb(126, 123, 123);
}
.green-row {
  background-color: green;
}
.EntriesRow{
  display: flex;
  width: 100%;
}
.DateSelector{
  display: inline-flex;
  border: 2px solid;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(117, 33, 196, 0.493);
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0px;
    border: none;
  }
}
.DateSelector input{
  border-radius: 7px;
  margin: 2px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.678);
}
.DateSelector button{
  height: 30px;
  margin: 8px;
  color: white;
  background: linear-gradient(white, rgb(180, 179, 179));

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container is at least the height of the viewport */
}






/* CSS file */
.balance-table-container {
  
}
.user-select{
  display: flex;
  flex-direction: row;
  gap:20px;
  justify-content: flex-start;
  align-items: center;
  @media (max-width:600px) {
    overflow-x: scroll;
  }
  margin-left: 4rem;
}
.user-select button{
  background: transparent;
  color: black;
}
/* Container for side-by-side tables */
.table-container {
display: flex;
flex: 1fr 1fr;
flex-grow: 1;
min-height: 100vh;
justify-content: space-around;
@media(max-width:800px){
flex-direction: column;
justify-content: flex-start;
}
}
@media (max-width: 450px) {
  .balance-table {
    width: 100%; /* Ensure table stays within screen bounds */
    font-size: 14px; /* Reduce font size */
    padding: 10px; /* Reduce padding */
    margin: 30px;
  }

  .balance-table th, .balance-table td {
    padding: 7px 7px; /* Smaller padding for tighter spacing */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .balance-table {
    width: 100%; /* Full width on smaller screens */
  }
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.input {
  margin-bottom: 10px;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

/* Style for register page */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}









/*userIcon*/

.userInfoModal {
  position: absolute;
  right: 250px;
  transform: translateX(calc(100% + 10px));
  z-index: 2;
  background-color: #f0f0f0; /* Grey background color */
  border: 1px solid #ccc; /* Grey border */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.userInfoContent {
  position: relative;
  text-align: center;
}

.userInfoTable {
  width: 200px;
}

.tableLabel {
  font-weight: bold;
  padding-right: 10px;
}

.tableData {
  padding-left: 10px;
  font-size: 1rem;
}

.logoutButton {
  margin-top: 10px;
  background-color: #f44336; /* Red color for logout button */
  color: #fff; /* White text color */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.profileImage{
  width: 50%;
  border: 1px solid orange;
  border-radius:50%;
}

form {
  padding: 5px 30px;
  border-radius: 8px;

}
.form2 {

}
.form2 h1 {
background-color: #a0e7e5;
 padding: 0px 35px;
 border-bottom: 1px solid rgb(184, 184, 184);
}
.form {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: fit-content;
  padding: 10px;
  justify-content: top;
  align-items: start;
  @media (max-width:800px) {
    flex-direction: column;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  flex: 1fr 1fr;
  margin-bottom: 5px;
  padding: 0px 30px;
  
}

.button-group button {
  padding: 10px;
  border: none;
  min-width: 100px;
  background-color: #d1d8e5;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0px;
}

.button-group button.active {
  background-color: #4D4D4D;
  color: rgb(255, 255, 255);
}


.DefaultEntry form{
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}
.DefaultEntry {
  position: relative;
  margin-bottom: 20px;
}


.DefaultEntry form input{
  outline: none;
}
/* Default styles for input fields and labels */
.DefaultEntry form input {
  border: 1px solid;
  border-color: 2px solid black; /* Default border color */
  outline: none;
  background-color: #5b00d200;
}

.input-label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: black; /* Default label color */
  font-weight: bold;
  transition: all 0.3s ease;
  pointer-events: none;
}
.DefaultEntry input{
  background-color: #f9f9f9;
}

.DefaultEntry input:focus + .input-label{
  top:-16px;
  left: -1px;
  color: rgb(0, 0, 0);
}
.DefaultEntry input:valid + .visited{
  top:-16px;
  left: -1px;
  color: green;
}
.DefaultEntry input:invalid + .visited{
  color: red;
  top:-16px;
  left: -1px;
}
.Default{
  display: flex;
  justify-content: space-between;
  align-items: start;
  @media (max-width: 768px) {
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
}

.radios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
  padding: 10px;
}

.toggleBar{
  display: flex;
  background-color: black;
  color: white;
  gap:20px;
  padding: 10px;
margin-top: 2px;
}
.toggleBar p.active {
  border-bottom: 2px solid yellow;
}